html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Helvetica-Light","Helvetica Neue",Helvetica,STHeiTi,sans-serif;
}

body {
  margin: 0;
  font-size: 0.7rem;
  line-height: 1;
  color: #333333;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  background: transparent;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #0088cc;
}

a:active {
  outline: 0;
}

a:active {
  color: #006699;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  vertical-align: middle;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code, kbd, pre, samp {
  /*font-family: monospace, monospace;*/
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none outside none;
}

h1, h2, h3 {
  line-height: 2;
  font-weight: normal;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

input:focus {
  outline: none;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #cccccc;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #cccccc;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #cccccc;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#orientation_hinter {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #131313;
  z-index: 999;
  display: none;
}

#orientation_hinter .hinter_phone {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -57px;
}

#orientation_hinter .hinter_phone i {
  display: block;
  width: 114px;
  height: 60px;
  background: url(https://img.xhangjia.com/h5/2018/10/mnjzs/landscape_phone@2x.png) no-repeat center center transparent;
  background-size: 114px 60px;
  -webkit-animation: rotateHint 2.6s ease-in infinite;
  animation: rotateHint 2.6s ease-in infinite;
}

#orientation_hinter.portrait .hinter_phone {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#orientation_hinter .hinter_rotate {
  width: 155px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -77px;
  background: url(https://img.xhangjia.com/h5/2018/10/mnjzs/landscape_hint@2x.png) no-repeat center center transparent;
  background-size: 155px 30px;
}

#orientation_hinter .hinter_text {
  position: absolute;
  right: 0;
  bottom: 15%;
  left: 0;
  color: #bbbbbb;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  line-height: 1;
  display: none;
}

@-webkit-keyframes rotateHint {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0;
  }
}

@keyframes rotateHint {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    opacity: 0;
  }
}

@-webkit-keyframes questionsFadeOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.6, 0.6) translateY(-4rem);
    transform: scale(0.6, 0.6) translateY(-4rem);
  }
}

@-webkit-keyframes questionsFadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.4, 1.4) translateY(3rem);
    transform: scale(1.4, 1.4) translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1) translateY(0);
    transform: scale(1, 1) translateY(0);
  }
}

@media screen and (orientation: landscape) {
  #orientation_hinter.landscape,
  #orientation_hinter.landscape .landscape {
    display: block;
  }
}

@media screen and (orientation: portrait) {
  #orientation_hinter.portrait,
  #orientation_hinter.portrait .portrait {
    display: block;
  }
}

.display-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flexbox;
  display: box;
  display: flex;
}

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes shineIn {
  0% {
    opacity: 0.3;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shineIn {
  0% {
    opacity: 0.3;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes rotation {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes UpIn {
  from {
    transform: translateY(5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0rem);
    opacity: 1;
  }
}

@-webkit-keyframes cardrotate {
  0% {
    -webkit-transform: perspective(1000px) rotateY(270deg) scale(0);
  }
  100% {
    -webkit-transform: perspective(1000px) rotateY(0) scale(1);
  }
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.15);
  }
}

@-webkit-keyframes a1_btn {
  0% {
    -webkit-transform: rotate(-3deg) skew(-4deg);
  }
  100% {
    -webkit-transform: rotate(3deg) skew(4deg);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes a1_juice {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 280px;
  }
}

@-webkit-keyframes a1_straw {
  0% {
    -webkit-transform: translate(0, 0) rotate(0deg);
  }
  25% {
    -webkit-transform: translate(10px, 10px) rotate(5deg);
  }
  50% {
    -webkit-transform: translate(20px, 0px) rotate(0deg);
  }
  75% {
    -webkit-transform: translate(10px, 0px) rotate(5deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }
}

@-webkit-keyframes a1_calender {
  0% {
    -webkit-transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
  }
}

@keyframes loading {
  100% {
    background-position: -2171px 0;
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after,
.row:after,
.fl:after,
.fr:after {
  clear: both;
  content: '\0020';
  display: block;
  height: 0;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

@keyframes float_3940 {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes burst_2763 {
  0% {
    opacity: 1;
  }
  49.9995% {
    transform: scale(1.8);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}

@keyframes vertical_2802 {
  0% {
    transform: translate(0, -3px);
  }
  3.27869% {
    transform: translate(0, 3px);
  }
  6.55738% {
    transform: translate(0, -3px);
  }
  9.83606% {
    transform: translate(0, 3px);
  }
  13.11475% {
    transform: translate(0, -3px);
  }
  16.39344% {
    transform: translate(0, 3px);
  }
  18.03279% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes heightShow {
  0% {
    height: 0;
  }
  100% {
    height: 21.425rem;
  }
}

@keyframes heightShow2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tips {
  0% {
    top: 65%;
  }
  100% {
    top: 40%;
  }
}

@keyframes passing-reverse_9782 {
  0% {
    transform: translateX(30%);
  }
  25% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-35%);
  }
  100% {
    transform: translateX(30%);
  }
}

body, html, .wrap, .page {
  width: 100%;
  height: 100%;
  position: relative;
}

.wrap {
  overflow: hidden;
}
